---
// components
import MainLayout from '@layouts/MainLayout.astro';
import H1 from '@components/ui/H1.astro';
import Text from '@components/ui/Text.astro';
import ContentLayout from '@layouts/ContentLayout.astro';
// lib import
import { Image } from 'astro:assets';
// assets
import bgImage from '@assets/images/background/contact-bg.jpg';
import {
  phoneNumber,
  email,
  facebook,
  instagram,
} from '@assets/contact-details';
// contact info
import phoneIcon from '@assets/images/icons/svg/contact/phone.svg';
import mailIcon from '@assets/images/icons/svg/contact/mail.svg';
import facebookIcon from '@assets/images/icons/svg/contact/facebook.svg';
import instagramIcon from '@assets/images/icons/svg/contact/instagram.svg';

const contactDescriptionArr = [
  {
    name: 'phone-number',
    value: phoneNumber,
    icon: phoneIcon,
    action: 'tel',
  },
  { name: 'email', value: email, icon: mailIcon, action: 'mailto' },
  {
    name: 'Swoje Ściany ',
    value: facebook,
    icon: facebookIcon,
    action: null,
  },
  {
    name: 'swoje_sciany',
    value: instagram,
    icon: instagramIcon,
    action: null,
  },
];
---

<MainLayout
  title="Kontakt - Swoje Ściany"
  description="Skontaktuj się z nami, aby omówić swoje potrzeby remontowe w Warszawie. Nasz zespół jest gotowy odpowiedzieć na wszystkie pytania i zapewnić profesjonalne doradztwo. Zadzwoń lub napisz do nas, aby umówić się na konsultację.">
  <section class="relative bg-primary">
    <ContentLayout className="flex flex-col gap-12">
      <div class="z-20 grid h-[300px] place-items-center gap-8 pt-10">
        <Image
          src={bgImage}
          alt="tło"
          class="absolute left-0 top-0 -z-10 h-[300px] w-screen object-cover shadow-[0_10px_80px_40px_rgba(0,0,0,0.3)] brightness-75 sm:h-screen sm:blur-sm"
        />
        <H1 className="relative">Masz pytania? <br />Skontaktuj się z nami.</H1>
        <Text className="relative  w-[min(500px,100%)] "
          >Jeśli planujesz remont mieszkania czy budynku, chętnie poznamy
          szczegóły Twojego projektu i zaproponujemy indywidualne podejście.
          Skontaktuj się z nami, a my pomożemy Ci zrealizować Twoje marzenia o
          idealnym wnętrzu!</Text
        >
      </div>
      <div
        class="relative z-20 flex h-full translate-y-10 flex-col content-center items-center justify-center gap-7 sm:translate-y-0">
        {
          contactDescriptionArr.map(({ name, value, icon, action }, index) => (
            <a
              href={action ? `${action}: ${value}` : value}
              target={action ? '_self' : '_blank'}
              class="flex h-16 w-[min(500px,100%)] items-center justify-between overflow-hidden rounded-2xl border bg-accent/80 px-2 py-2 shadow-[0_0_10px_1px_rgba(0,0,0,0.5)] lg:p-5">
              <Image src={icon} alt={`${name} icon`} class="w-14" />
              <p class="w-full text-center text-base md:text-2xl">
                {action ? value : name}
              </p>
            </a>
          ))
        }
      </div>
    </ContentLayout>
  </section>
</MainLayout>
