---
import { cn } from "@utils/cn";
import type { MarkdownInstance } from "astro";
import { Image } from "astro:assets";
import H3 from "./ui/H3.astro";

type Props = {
  data: MarkdownInstance<Record<string, any>>[];
  imageSize: { width: number; height: number };
  className?: string;
  labelClassName?: string;
};
const { data, className, imageSize, labelClassName } = Astro.props;
---

<div class={cn("relative gap-4", className)}>
  {
    data.map(({ url, frontmatter }) => (
      <a
        href={url}
        class="group relative flex flex-col items-center  overflow-hidden  rounded-2xl  capitalize shadow-md duration-300 hover:shadow-lg"
      >
        <Image
          width={imageSize.width}
          height={imageSize.height}
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="z-10 aspect-video h-full w-full   object-cover  duration-300   group-hover:scale-105"
        />
        <div
          class={cn("z-10 w-full bg-card p-4 font-semibold ", labelClassName)}
        >
          <H3 className="text-start mb-2">{frontmatter.title}</H3>
          <p class="line-clamp-2 text-gray-600">{frontmatter.description}</p>
        </div>
      </a>
    ))
  }
</div>
