---
import { Facebook, Instagram, Mail, Phone } from "lucide-react";

const navigation = [
  { name: "Główna", href: "/" },
  { name: "Usługi", href: "/usługi" },
  { name: "Realizacje", href: "/realizacje" },
  { name: "Kontakt", href: "/kontakt" },
];

import {
  phoneNumber,
  email,
  facebook,
  instagram,
} from "@assets/contact-details";
---

<footer
  class="bg-card-gradient w-full bg-secondary px-4 pb-8 pt-12 text-secondary-foreground xl:px-6"
>
  <div
    class="mx-auto flex max-w-[1400px] flex-col gap-8 md:flex-row md:items-center md:justify-between"
  >
    <a class="space-y-4" href="/">
      <img src="/logo.svg" alt="logo" width={100} height={60} class="w-28" />
    </a>
    <div class="space-y-4">
      <h2 class="text-lg font-semibold">Menu</h2>
      <div class="flex items-center gap-4">
        {
          navigation.map(({ href, name }) => (
            <a href={href} class="capitalize">
              {name}
            </a>
          ))
        }
      </div>
    </div>
    <div class="space-y-4">
      <h2 class="text-lg font-semibold">Kontakt</h2>
      <div class="flex items-center gap-4">
        <a href={`mailto:${email}`} target="_blank" aria-label="instagram">
          <Mail />
        </a>
        <a href={`tel:${phoneNumber}`} target="_blank" aria-label="facebook">
          <Phone />
        </a>
      </div>
    </div>
    <div class="space-y-4">
      <h2 class="text-lg font-semibold">Social media</h2>
      <div class="flex items-center gap-4">
        <a href={instagram} target="_blank" aria-label="instagram">
          <Instagram />
        </a>
        <a href={facebook} target="_blank" aria-label="facebook">
          <Facebook />
        </a>
      </div>
    </div>
  </div>
  <div
    class="border-muted-foreground mx-auto mt-12 flex max-w-[1400px] flex-col-reverse items-center justify-between gap-y-3 border-t pt-6 text-center text-sm text-secondary-foreground/90 md:flex-row"
  >
    <span>
      &copy; {new Date().getFullYear()}. Wszystkie prawa zastrzeżone
    </span>
    <p>
      Designed & built by <a
        href="https://webjoin.pl"
        target="_blank"
        class="font-bold">Web Join</a
      >
    </p>
  </div>
</footer>
