---
import { ViewTransitions } from "astro:transitions";
import Seo from "@components/Seo.astro";

const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <meta
    name="keywords"
    content="remont mieszkań, remont budynków, usługi remontowe, renowacja wnętrz, remonty Warszawa, remont Warszawa"
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="theme-color" content="#808080" />
  <Seo {title} {description} url={Astro.url} />
  <ViewTransitions />
</head>
