---
import { ViewTransitions } from 'astro:transitions';
import Seo from '@components/Seo.astro';

const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta name="title" content={title} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    content="swoje sciany, swojesciany, remonty, mieszkania, domy, obiekty komercyjne, remont mieszkań, remont budynków, usługi remontowe, renowacja wnętrz, remonty Warszawa, remont Warszawa, remonty w okolicy, Warszawa i okolice, remonty wnętrz Warszawa, terminowe remonty Warszawa, remonty z gwarancją Warszawa, konkurencyjne ceny remontów Warszawa, fachowcy remontowi Warszawa, profesjonalne remonty Warszawa, kompleksowe remonty Warszawa"
    name="keywords"
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="theme-color" content="#808080" />
  <Seo {title} {description} url={Astro.url} />
  <ViewTransitions />
</head>
