---
// components
import H1 from "@components/ui/H1.astro";
import H2 from "@components/ui/H2.astro";
import MainLayout from "@layouts/MainLayout.astro";
import ContentLayout from "./ContentLayout.astro";
import DisplayServices from "@components/DisplayServices.astro";
import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
const { title, description, image } = frontmatter;
const services = await Astro.glob("src/pages/usługi/*.md");
const anotherServices = services.filter(
  (service) => service.frontmatter.title !== title
);
---

<MainLayout className=" py-20" title={`Usługi ${title}`} {description}>
  <ContentLayout className="w-full max-w-[1500px] space-y-20 ">
    <H1>Usługi {(<span class="text-primary">{title}</span>)}</H1>
    <div
      class="flex w-full flex-col items-center justify-between gap-10 lg:flex-row lg:items-start"
    >
      <div
        class="w-full space-y-1 sm:prose-base prose-h3:text-foreground prose-strong:text-primary"
      >
        <slot />
      </div>
      <div class="flex max-w-[600px] flex-col items-center space-y-12">
        <Image
          width={500}
          height={300}
          src={image.url}
          alt={`obrazek ${title}`}
          class="hidden aspect-video w-full rounded-2xl border-2 object-cover sm:block"
        />
        <H2>Sprawdź inne nasze usługi</H2>

        <DisplayServices
          data={anotherServices}
          className="grid grid-cols-1 gap-4 sm:grid-cols-2"
          imageSize={{ width: 150, height: 150 }}
          labelClassName="!text-base"
        />
      </div>
    </div>
  </ContentLayout>
</MainLayout>
